@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-family: "Roboto", sans-serif;
  /* max-width: 50vw; */
}

* {
  scrollbar-width: thin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.animated-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding-bottom: 4px; /* Space for the underline */
}

.animated-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor; /* Matches the text color */
  transition: width 0.3s ease-in-out;
}

.animated-underline:hover::after {
  width: 100%; /* Full width when hovered */
}


.test {
  color: red;
  background-color: black;
}



h1 {
  @apply text-2xl font-bold;
}


.primary-button {
  @apply text-white h-[40px] rounded-lg   text-[12px] md:text-[18px] px-6 cursor-pointer font-bold tracking-[0.05rem] hover:opacity-[0.9] bg-[#5D1FFC];
}

.secondary-button {
  @apply text-white h-[40px] rounded-lg  text-[12px] md:text-[18px] px-6 cursor-pointer font-bold tracking-[0.05rem] hover:opacity-[0.9] bg-[#5D1FFC];
}

.cancel {
  @apply h-[40px] rounded-lg  text-[12px] md:text-[18px] px-6 cursor-pointer font-bold tracking-[0.05rem] hover:opacity-[0.9] border border-[#DEDEDE] text-[#818181];
}

.testredbackground {
  background-color: red !important;
}

/* tabs */

/* Custom colors */
.bg-custom-tab-active {
  border-bottom: 8px solid #5d1ffc;
  color: #5d1ffc;
  font-weight: bold;
}

.bg-custom-tab-inactive {
  color: black;
}

/* Example CSS for shimmer effect */
@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton-shimmer {
  width: 100%; /* Set a fixed width */
  height: 100%; /* Set a fixed height */
  min-height: 28px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.skeleton-shimmer-slow {
  width: 100%; /* Set a fixed width */
  height: 100%; /* Set a fixed height */
  min-height: 28px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 4s infinite;
}

input[disabled] {pointer-events:none}




 select option:checked 
  {
  background-color: #D6E5FF !important; 
}


/* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 3px 13px;
}

/* Minute */
input[type=time]::-webkit-datetime-edit-minute-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 3px 13px;
}

/* AM/PM */
/* input[type=time]::-webkit-datetime-edit-ampm-field {
  background-color: #7155d3;
  border-radius: 15%;
  color: #fff;
  padding: 3px 13px;
} */

/* 'X' button for resetting/clearing time */
/* input[type=time]::-webkit-clear-button {
  display: none;
} */

/* Up/Down arrows for incrementing/decrementing the value */
/* input[type=time]::-webkit-inner-spin-button {
  display: none;
} */



/* ------- */
/* 
.sidebar {
  width: 250px;
   /* Set your desired sidebar width * /
  height: 100%;
  background-color: #333;
  color: white;
  position: relative;
  overflow: hidden;
} */

 .resize-handle {
  width: 4px; 
  height: 100vh;
  background-color: #ffffff00;
  cursor: col-resize;
  user-select: none;
}

.resize-handle:hover {
  background-color: #c0c0c0;
}

.resize-handle.dragging {
  background-color: #c0c0c0;
  opacity: 0;
}

.larger-rounded-b {
  border-radius: 0 0 20px 20px; /* Adjust the radius as needed */
}



.login-shadow{
  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.2);
}